# 배포용 설정
#db 연결 & hibernate 설정
spring:
  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

#jwt
jwt:
  secret: ${JWT_SECRET}


#s3
cloud:
  aws:
    region: ${AWS_REGION}
    s3:
      bucket: ${S3_BUCKET}
      public-base-url: ${S3_PUBLIC_BASE_URL}
      credentials:
        access-key: ${S3_ACCESS_KEY}
        secret-key: ${S3_SECRET_KEY}